@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
header{
    padding: 0 50px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 0 0 10px rgb(187, 187, 187);
    z-index: 1000;
}
.logo{
    font-size: 25px;
    color: #FE4B2F;
    font-weight: 800;
}
.logo span{
    color: #000;
    font-weight: 300;
}
nav{
    margin-right: 100px;
    width: 30%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    color: #000;
    transition: .5s;
}
nav ul li a:hover{
    color: #FE4B2F;
}

.hero{
    height: 100vh;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
}
.hero-text{
    width: 50%;
    padding-top: 100px;
    padding-left: 50px;
}
.hero-text h1{
    color: rgb(124, 124, 124);
    font-size: 90px;
    font-weight: 400;
}
.hero-text h1 span{
    color: #FE4B2F;
    font-weight: 700;

}
.hero-text p, .about-text p{
    font-size: 20px;
    margin-bottom: 50px;
}
.hero-text button, .about-text button{
    padding: 15px 50px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(40deg, #FB8F48, #FE4B2F);
    font-size: 20px;
    color: #fff;
    transition: .3s;
    font-weight: 700;
}
.hero-text button:hover{
    box-shadow: 0 0 10px #FE4B2F;
}
.hero-img img{
    width: 500px;
}
.about{
    display: flex;
    z-index: -1;
    height: 80vh;
    background-image: url(../img/about/frame.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}
.about-img{
    width: 50%;
    display: flex;
    justify-content: center;
}
.about-img img{
    width: 350px;
    height: auto;
}
.about-text{
    width: 50%;
    padding: 15px;
}
.about-text h1{
    margin-top: 80px;
    color: rgb(124, 124, 124);
    font-size: 50px;
}
.about-text p{
    margin-top: 30px;
}
.about button:hover{
    box-shadow: 0 0 10px #FE4B2F;
}
.recipies{
    text-align: center;
    padding: 50px 0;
}
.recipies-section-title{
    font-size: 50px;
    margin-top: 20px;
    color: rgb(124, 124, 124);
}
.recipies-section-p{
    padding: 10px 350px;
    margin: 25px 0px;
}
.recipies-row{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.recipies-row div{
    width: 350px;
    padding:30px 10px;
    box-shadow: 0 0 10px rgb(162, 161, 161);
    border-radius: 20px;
    transition: .3s;
}
.recipies-row div:hover{
    transform: scale(1.02);
}
.recipies-row div img{
    width: 90%;
    height: auto;
    border-radius: 20px;
}
.recipie-title{
    text-align: left;
    margin:20px;
    font-size: 20px;
}
.recipie-details{
    text-align: left;
    margin: 20px;
}
.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}
.counter-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 150px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(140, 140, 140);
    text-align: center;
    padding: 10px 0px;
}
.counter-div h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.counter-div p{
    padding: 0 70px;
}
footer{
    background-color: #FE4B2F;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}
footer h2 a{
    text-decoration: none;
    color: #000;
}
footer h2 a span{
    color: #fff;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 30px 0;
    padding: 0 300px;
}
footer ul li a{
    transition: .3s;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
footer ul li a:hover{
    color: #fff;
}
.copiright{
    margin-top: 50px;
    color: #fa8977;
    font-weight: 300;
}
.copiright a{
    color: #fa8977;
    text-decoration: none;
    font-weight: 700;
}